header {
  margin: 1rem 0;

  a {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

}

ul {
  margin-left: 0;
  li {
    list-style-type: none;
  }
}

img {
  height: 400px;
  width: auto;
}

section {
  margin: 1rem;
}